<a href="#" class="cap-10 center-hor cta-item flex center-ver" arial-label="Zalo">
    <div href="#" class="cta-link ratio-1x1 overflow-hidden bg-white-second">
        <img class="img-icon" src="./img/icon/phone-cta.svg" alt="Gọi điện">
    </div>
</a>

<a href="#" class="gap-10 center-hor cta-item flex center-ver" arial-label="Zalo">
    <div href="#" class="cta-link ratio-1x1 overflow-hidden bg-white-second">
        <img class="img-icon" src="./img/icon/messenger-cta.svg" alt="Messenger">
    </div>
</a>

<a href="#" class="gap-10 center-hor cta-item flex center-ver" arial-label="Zalo">
    <div href="#" class="cta-link ratio-1x1 overflow-hidden bg-white-second">
        <img class="img-icon" src="./img/icon/zalo-cta.svg" alt="Zalo">
    </div>
</a>

<a href="#" class="gap-10 center-hor cta-item flex center-ver" arial-label="Zalo">
    <div href="#" target="_blank" class="cta-link ratio-1x1 overflow-hidden bg-white-second">
        <img class="img-icon" src="./img/icon/map-cta.svg" alt="Google Maps">
    </div>
</a>


